<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CustomPackageFeed" value="https://nexus.piton.com.tr/repository/nuget-hosted/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <CustomPackageFeed>
      <add key="Username" value="ptn_user" />
      <add key="ClearTextPassword" value="Ps3eLyr5txXJUA9frVt2" />
    </CustomPackageFeed>
  </packageSourceCredentials>
</configuration>